<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>comics</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">

    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="hero-unit">
      <form id="comic-form" action="index.html" method="post">

        Title:<input id="titleInput" type="text" name="some_name" value="">

        Publisher:<input id="publisherInput" type="text" name="some_name" value="">

        Hero:<input id="heroInput" type="text" name="some_name" value="">

        <button name="button">Submit</button>

      </form>


      <div id="comics"></div>

      <script type="text/template" id="comic">
        <li>Title: <%= title %>, Publisher: <%= publisher %>, Staring: <%= hero %></li>
      </script>

    </div>

    <script src="scripts/vendor.js"></script>

        <script src="scripts/main.js"></script>
</body>
</html>
